<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="HelpUs"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newdiplom"
        tools:targetApi="31">
        <activity
            android:name="com.example.newdiplom.domain.presentation.profileforcallzak"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.ResponcesVolunteer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.declineoraccept"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.mytasks"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.profileforcall"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.responses"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.profilevolunteer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Newdiplom.Fullscreen" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.chooseRoles"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.AcceptTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.Tasklist"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.Tasks"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.add_task"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.Auth"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="string/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.newdiplom.domain.presentation.userinfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.newdiplom.domain.presentation.auth_or_reg"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="string/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.newdiplom.domain.presentation.Roles"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>